*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.list-item{
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    color: #8e8e8e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list-item-number,.list-item-title,.list-item-sku{
    text-align: center;
}
.list-item-title{
    font-weight: normal;
}
.list-item-options-title,.list-item-price{
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.list-item-options-title{
    margin-bottom: 5px;
}
.list-item-price{
    margin-top: 30px;
}
@media screen and (max-width: 995px){
    .products-list{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 700px){
    .products-list{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 480px){
    .products-list{
        grid-template-columns: repeat(1,1fr);
    }
}